<header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
#fa {
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.25em;  
}  
</style>

<div class=fakeMenu>
  <div class="fakeButtons fakeClose"></div>
  <div class="fakeButtons fakeMinimize"></div>
  <div class="fakeButtons fakeZoom"></div>
</div>

{% if page.title == 'Welcome to my website' %}

<div class="fakeScreen">
<span style="color: rgba(0,255,0,0.9);">~</span><span style="color: rgba(126,192,238,0.9);">$</span> <span>whoami</span> <br>
Sumedh,<i id="fa" class="fa fa-mars" aria-hidden="true"></i>,<span style="text-decoration:line-through;">mechanical major turned</span> computing enthusiast<br>
<span style="color: rgba(0,255,0,0.9);">~</span><span style="color: rgba(126,192,238,0.9);">$</span> cd sumedhyadav.github.io <br>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> python Welcome.py<br>
<section style="font-size: 25px;">
	<center>===================================</center>
	<center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
	<center>===================================</center>
</section>
</div>

{% elsif page.title == 'Contact' %}

<div class="fakeScreen">
<section style="font-size: 25px;">
  <center>===================================</center>
  <center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
  <center>===================================</center>
</section>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> ./contact <br>
</div>

{% elsif page.title == 'Projects' %}

<div class="fakeScreen">
<section style="font-size: 25px;">
  <center>===================================</center>
  <center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
  <center>===================================</center>
</section>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> ./academics_and_projects <br>
</div>

{% elsif page.title == 'Games' %}

<div class="fakeScreen">
<section style="font-size: 25px;">
  <center>===================================</center>
  <center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
  <center>===================================</center>
</section>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> ./games <br>
</div>

{% elsif page.title == 'Blackjack' %}

<div class="fakeScreen">
<section style="font-size: 25px;">
  <center>===================================</center>
  <center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
  <center>===================================</center>
</section>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> ./games/blackjack <br>
</div>

{% elsif page.title == 'Hobbies' %}

<div class="fakeScreen">
<section style="font-size: 25px;">
  <center>===================================</center>
  <center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
  <center>===================================</center>
</section>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> ./hobbies <br>
</div>

{% elsif page.layout == 'post' %}

<div class="fakeScreen">
<section style="font-size: 25px;">
  <center>===================================</center>
  <center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
  <center>===================================</center>
</section>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> ./blogposts <br>
</div>

{% elsif page.title == 'how_on_earth' %}

<div class="fakeScreen">
<section style="font-size: 25px;">
  <center>===================================</center>
  <center><center style="font-family: 'Sonsie One'; display: inline-block"><a href="/">Welcome to my website</a></center></center>
  <center>===================================</center>
</section>
<span style="color: rgba(0,255,0,0.9)">sumedhyadav.<a href="https://github.com/sumedhyadav" style="color: rgba(0,255,0,0.9)" target="_blank">github</a>.io <span style="color: rgba(103,102,153,0.9);"> git:(<span style="color: rgba(255,0,0,0.9);">master</span>)</span><span style="color: rgba(126,192,238,0.9);">$</span></span> ./how_on_earth <br>
</div>
{% endif %}

</header>