@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Sonsie+One');
@import url('./syntax-highlighting.css');

html {
	background-image: url("../img/background6.gif");
	color: rgba(255,255,150,1.0);
}

body {
	background-color: rgba(80,80,80,0.95);
	color: rgba(255,255,255,0.9);
	font-size: 20px;
	margin: auto;
	width: 90%;
	border: 1px dashed rgba(255,255,255,0.7);
	font-family: "Open Sans";
}

#hr {
	border: dashed rgba(255,255,255,0.7) 1.0px;
}
#hobbies_div {
	border: 1px dashed rgba(255,255,255,0.7);
	padding: 10px;
}

#unboxed_div {
	padding: 5px;
	margin-bottom: 5px;
}

#index_body {
	color: rgba(255,255,150,1.0);
	background-image: url("../img/index/index.jpg");
	background-size: auto;
}

#post_body {
	/*padding: 40px;*/
	font-size: 18px;
	color: rgba(255,255,150,1.0);
	/*background-image: url("../img/index/index.jpg");*/
	background-size: auto;
}

#post_title {
	line-height: 0px; 
	margin-bottom: 10px;
}

#post_date {
	padding: 20px; 
	opacity: 0.7;
	font-size: 17px;
}

#title {
	color: white;
	line-height: 5px;
	margin-bottom: 10px;	
}

#how_on_earth_body {
	/*padding: 40px;*/
	font-size: 18px;
	color: rgba(255,255,150,1.0);
	background-image: url("../img/comics/comic_background.jpg");
	/*background-image: url("../img/index/index.jpg");*/
	background-size: auto;
}

#contact_body {
	/*padding: 40px;*/
	color: rgba(255,255,150,1.0);
	background-image: url("../img/contact/contact.jpg");
	opacity: 0.9;
	background-size: auto;
}

#hobbies_body {
	/*padding: 40px;*/
	color: rgba(255,255,150,1.0);
	background-image: url("../img/hobbies_background.jpg");
	background-size: auto;
}

#games_body {
	/*padding: 40px;*/
	color: rgba(255,255,150,1.0);
	background-image: url("../img/games/games.jpg");
	background-size: auto;
	/*background-image: url("../img/background7.gif");*/
}

#projects_body {
	/*padding: 40px;*/
	color: rgba(255,255,150,1.0);
	background-image: url("../img/projects/projects.png");
	background-size: auto;
	/*background-image: url("../img/background7.gif");*/
}

#fa {
    font-size: 1.25em;
    color: rgba(255,255,255,1.0);
}

nav, main, footer {
	margin: 15px;
	border-bottom: 1px dashed rgba(255,255,255,0.5);
}

header {
	border-bottom: 1px dashed rgba(255,255,255,0.5);
	color: rgba(255,255,255,1.0);
}

nav {
	text-align: center;
}

nav ul {
	display: block;
}

nav ul li {
	display: inline;
	padding-left: 10px;
}

nav ul li a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

nav ul li a:hover {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

pre {
	font-family: monospace;
}

img, main iframe {
	width: 50%;
	margin-left: 10%;
	border: 1px dashed rgba(255,255,255,0.5);
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 3px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  box-sizing: border-box;
  height: 30px;
  background-color: #bbb;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: monaco, Consolas, Lucida Console, monospace,'Press Start 2P';
  font-size: 18px;
}
